@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Clock";
    src: url("./resources/digital-7.mono.ttf");
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* outline: 1px solid salmon; */
}

/* GLOBAL */

html,
body {
    display: flex;
    flex-flow: column;
    height: 100%;
}

header,
footer {
    padding: 1rem 0;
}

header {
    flex: 0 1 auto;
}

main {
    flex: 1 1 auto;
    text-align: center;
}

footer {
    flex: 0 1 auto;
    font-size: small;
}

button {
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    background-color: transparent;
    transition: all 0.3s;
}

button:hover {
    color: #000 !important;
}

/* CLASSES */

.container {
    max-width: 1450px;
    margin: 0 auto;
}

.container h2 {
    margin-bottom: 2rem;
}

.scoreboard {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.numeric {
    font-family: "Clock", sans-serif;
}

.score {
    font-size: 5rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 12rem;
    word-wrap: break-word;
    padding: 1rem;
    border-radius: 1rem;
    color: #fff;
    background-color: #000;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons .no {
    color: #f00;
    border: 1px solid #f00;
}

.buttons .yes {
    color: #0f0;
    border: 1px solid #0f0;
}

.buttons .no:hover {
    background-color: #f00;
}

.buttons .yes:hover {
    background-color: #0f0;
}

.bid-input {
    display: flex;
    gap: 1rem;
    margin: auto;
}

.bid-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;
    color: #fff;
    border: 1px solid #fff;
    margin: auto;
}

.bid-button:hover {
    background-color: #fff;
}